*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-body{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 20px;
    width: 370px;
}
input{
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    
}
.in p,.txt p{
    margin: 10px 0;
    font-size: 20px;
}
.txt textarea{
    width: 100%;
    height: 100px;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
    /* margin: 20px 0; */
}
.sub-after{
    position: absolute;
    background-color: rgb(148, 148, 148);
    padding: 20px;
    text-align: center;
    display: none;
}
button{
    outline: none;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
} 
.sub-active{
    display: block;
}
@media only screen and (max-width:430px){
    .form-body{
        width: 300px;
    }
}
